@font-face {
    font-family: 'font_OpenSauceSans';
    src: url(./fonts/OpenSauceSans-Light.ttf);
}
.your_support_through_our_ventur_es {
    font-family: 'font_OpenSauceSans';
}

.nav_menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Noto Serif Display', serif;
    color: #1E7CAC;
}
.color-primary {
    color: #419ac8;
}
.colo_choose_text {
    color: #0F5F89;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #419ac8;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.content_why_we_do_it .overflow_content::-webkit-scrollbar {
    display: none;
}
.service_item .service_item_wrap .face{
    height: 28rem;
    background-size: cover;
}
.service_item .service_item_wrap .learn_more {
    background: #fff;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    transition: 0.3s;
}
.service_item .service_item_wrap .learn_more:hover {
    background-color: #000;
    color: #fff;
}
.service_item_wrap .icon_service {
    width: 8rem;
}
.service_item_wrap .title_service, .service_item_wrap .title_service_2 {
    font-size: 2.5rem;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Sansita', sans-serif;
    line-height: 45px;
}
.service_item_wrap .title_service {
    color: #fff;
}
.service_item_wrap .title_service_2 {
    color: #163B52;
}
.why_choose_us_content {
    position: relative;
    z-index: 10;
}
.service_item_wrap .service_content {
    font-family: 'Cormorant', serif;
    font-family: 'Cormorant Garamond', serif;
    font-size: 13px;
    margin-top: 30px;
    padding: 0 20px;
}
.left_icon_td .left_icon_ps {
    transition: 1s;
    top: -5px;
    width: 0px;
}
.left_icon_td img {
    transition: 1s;
    transform: scale(1);
}
.left_icon_td:hover img{
    transform: scale(1.3);
}
.left_icon_td.why_1 img {
    left: -15px;
}
.left_icon_td.why_1:hover .left_icon_ps {
    width: 82rem;
}
.left_icon_td.why_2:hover .left_icon_ps {
    width: 82rem;
}
.left_icon_td.why_3:hover .left_icon_ps {
    width: 82rem;
}
.backgroud_service_page {
    background-size: cover;
    width: 100%;
    height: 425px;
}
.backgroud_service_page .container {
    padding: 50px 70px;
    height: 100%;
}
.position_relative {
    position: relative;
    height: 100%;
}
.banner {
    font-family: 'Sansita', sans-serif;
    font-size: 700;
}
.position_relative h1 {
    position: absolute;
    bottom: 0;
    font-family: 'Sansita', sans-serif;
    font-family: 'Cormorant', serif;
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
}
.content_service_detail {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.choose_wings h3{
    font-family: 'Forum', serif;
    font-weight: 300;
}
.network h1 {
    font-family: 'Forum', serif;
}
.network .box__icon img {
    transition: .7s;
}
.network .box__icon:hover img {
    transform: scale(1.1);
}

.foooter {
    background-image: url('./assets/bg_footer.png');
    background-size: cover;
    margin-top: 100px;
    width: 100%;
    height: 768px;
    font-family: 'Noto Serif Display';
    color: #A6A6A6;
}

.foooter form input, .foooter form textarea {
    background-color: #a6a6a69d;
    border: none;
    border-radius: 0;
}
.foooter form input {
    height: 57px;
}
.foooter form textarea {
    height: 300px;
}
.foooter iframe {
    margin-top: 4px;
}
.dropdown-menu:hover, #menu_service:hover + .dropdown-menu {
    display: block;
}

#dropdownMenu .dropdown-menu{
    position: absolute;
    transform: unset !important;
    left: 0 !important;
    top: 30px !important;
}
#submitContact {
    transition: 3s;
    cursor: pointer;
}
#submitContact img{
    width: 10rem;
}
#submitContact:hover {
    opacity: 0.8;
}
.skiptranslate {
    display: none;
}
.table_choose_us .th_why {
    font-family: 'Forum', serif;
    font-size: 70px;
    color: #225C80;
    width: 200px;
    height: 129px !important;
    text-align: center;
    position: relative;
}
.th_why span{
    z-index: 2;
    position: relative;
}
.th_why .bottom_icon_ps {
    position: absolute;
    width: 100% !important;
    top: 0;
    height: 0;
    background-color: #f5f5f5c9;
    transition: 1s;
    width: 0px;
}

.th_why:hover .bottom_icon_ps, .th_why .bottom_icon_ps:hover {
    height: 45rem;
}
.table_choose_us .choose_us {
    font-family: 'Forum', serif;
    font-size: 70px;
}
/* background-color: #f5f5f5; */
/* background-color: #f5f5f5; */

.table_choose_us .left_icon_ps {
    margin: 20px 0;
    background-color: #e6e3e36b;
    bottom: 0;
    height: 85%;
    position: absolute;
}
.table_choose_us .left_icon_td {
    text-align: center;
    position: relative;
    height: 155px !important;
}
.table_choose_us p {
    margin: 0;
}
.table_choose_us h2 {
    font-family: 'Forum', serif;
    font-weight: 700;
}

.table_choose_us p {
    font-family: 'font_OpenSauceSans';
    font-weight: 600;
}
.table_choose_us .left_icon {
    width: 6rem;
    z-index: 12;
    position: relative;
}
.vertical_align_middle {
    vertical-align: middle;
}
.pl_px{
    padding-left: 40px;
}
.choose_wings .wrap_icon {
    width: 95px;
    height: 95px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.choose_wings .wrap_icon .bg_icon {
    position: absolute;
    width: 100%;
    transition: all 0.5s;
}
.choose_wings .wrap_icon img.icon {
    width: 75%;
    object-fit: cover;
    border-radius: 50%;
    transition: all 0.5s;
    position: relative;
    z-index: 2;
}
.choose_wings .wrap_content h3{
    color: #1E7CAC;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 900;
    margin-bottom: 0;
}
.choose_wings .wrap_content p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
}
.choose_wings .wrap_icon:hover .bg_icon {
    transform: scale(1.2);
    animation: spin 5s infinite linear;
}
.choose_wings .wrap_icon:hover img.icon {
    transform: scale(1.2);
}
@keyframes spin {
    0% {
        transform: rotate(0deg); /* Góc quay ban đầu là 0 độ */
    }
    100% {
        transform: rotate(360deg); /* Góc quay cuối cùng là 360 độ */
    }
}
.choose_wings .wrap_icon .line_cu {
    height: 30;
    width: 1;
    border: 1px dashed #263f6b;
    position: absolute;
}
.specialization h2{
    font-family: 'Sansita', sans-serif;
    font-weight: 600;
}
.specialization p {
    font-family: 'Noto Serif Display', serif;
}
.content_why_we_do_it .overflow_content{
    font-family: 'font_OpenSauceSans';
}
.how_we_do_it p {
    font-family: 'Noto Serif Display', serif;
}
.title_why_we_do_it p {
    font-family: 'Noto Serif Display', serif;
}
#service .row>* {
    padding-left: 3px;
    padding-right: 3px;
}

.face {
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transition: all 500ms;
    position: absolute;
}
.figure {
    perspective: 1000px;
    position: relative;
    text-align: center;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1px;
    height: 28rem;
}
.figure .flip {
    z-index: 10;
    background: #80adad;
}
.figure .flop {
    z-index: 0;
    background: #cddfdf;
}
.vertical .flip {
    transform: rotatex(0deg);
}
.vertical .flop {
    transform: rotatex(-180deg);
}
.vertical:hover .flip {
    transform: rotatex(180deg);
}
.vertical:hover .flop {
    transform: rotatex(0deg);
}
.horizontal .flip {
    transform: rotatey(0deg);
}
.horizontal .flop {
    transform: rotatey(-180deg);
    background-position-y: -30px;
    grid-row-gap: 20px;
}
.horizontal:hover .flip {
    transform: rotatey(180deg);
}
.horizontal:hover .flop {
    transform: rotatey(0deg);
}
.site-header {
    text-align: center;
    margin-bottom: 4em;
}
.site-header h2, .site-header h3 {
    margin-bottom: 0;
    padding-bottom: 0;
}
.site-content {
    display: flex;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    gap: 4rem;
}
.face {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    border-radius: 3px;
    flex-direction: column;
}

.foooter ::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

.foooter ::-ms-input-placeholder { /* Edge 12-18 */
    color: #fff;
}
.foooter .title {
    text-align: left !important;
    margin-left: 50px;
}
.choose_wing_title {
    background-image: url(./assets/bg_choose.png);
    height: 100px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.choose_wing_title h3{
    margin-left: 350px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0;
}
.section_core_value {
    background-image: url(./assets/bg_image_p.png);
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    font-family: 'Sansita', sans-serif; 
    background-position-y: 70px;
}
.section_core_value::before
{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #ffffff80;
}
.top_c h4, .bottom_c h4 {
    color: #555555;
    font-weight: 700;
}

.top_c p {
    border-bottom: 3px dashed #A6A6A6;
}

.bottom_c p {
    border-top: 3px dashed #A6A6A6;
}

.top_c p, .bottom_c p {
    padding: 50px 15px;
    color: #163B52;
    font-family: 'Sansita', sans-serif;
    font-weight: 400;
    font-style: italic;
}
.bottom_c h4 {
    margin-top: 200px;
}

body > main > footer > div > div > div.col-6 {
    margin-top: 35px;
}

@media (max-width: 767px) {
    body {
        transform: rotate(90deg);
        transform-origin: left top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: fixed;
        top: 100%;
        left: 0;
    }
}
