@font-face {
    font-family: 'font_OpenSauceSans';
    src: url(./fonts/OpenSauceSans-Light.ttf);
}
.your_support_through_our_ventur_es {
    font-family: 'font_OpenSauceSans';
}

.nav_menu a {
    padding: 10px 20px;
    text-decoration: none;
    font-family: 'Noto Serif Display', serif;
    color: #1E7CAC;
}
.color-primary {
    color: #419ac8;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: #419ac8;
    width: 14px;
    height: 14px;
    border-radius: 50%;
}
.content_why_we_do_it .overflow_content::-webkit-scrollbar {
    display: none;
}
.service_item .service_item_wrap {
    height: 300px;
    background-size: cover;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all .3s;
}
.service_item .service_item_wrap:hover {
    background-image: url(./assets/item_default.png) !important;
}
.service_item .service_item_wrap:hover .icon_service {
    display: none;
}
.service_item .service_item_wrap:hover .title_service {
    display: none;
}
.service_item .service_item_wrap .title_service_2,
.service_item .service_item_wrap .service_content,
.service_item .service_item_wrap .learn_more {
    display: none;
}
.service_item .service_item_wrap:hover .title_service_2,
.service_item .service_item_wrap:hover .service_content,
.service_item .service_item_wrap:hover .learn_more {
    display: unset !important;
}
.service_item .service_item_wrap:hover .service_content {
    padding: 0 20px;
}
.service_item .service_item_wrap .learn_more {
    background: #fff;
    color: black;
    font-weight: 500;
    text-decoration: none;
    border-radius: 30px;
    padding: 5px 10px;
    font-size: 13px;
    transition: 0.3s;
}
.service_item .service_item_wrap .learn_more:hover {
    background-color: #000;
    color: #fff;
}
.service_item_wrap .icon_service {
    width: 60px;
}
.service_item_wrap .title_service, .service_item_wrap .title_service_2 {
    font-size: 20px;
    margin-top: 10px;
    font-weight: 600;
    font-family: 'Noto Serif Display', serif;
}
.service_item_wrap .title_service {
    color: #fff;
}
.service_item_wrap .title_service_2 {
    color: #163B52;
}
.service_item_wrap .service_content {
    font-family: 'Cormorant', serif;
    font-family: 'Noto Serif Display', serif;
    font-size: 13px;
    margin-top: 30px;
}
.backgroud_service_page {
    background-size: cover;
    width: 100%;
    height: 400px;
}
.backgroud_service_page .container {
    padding: 50px 70px;
    height: 100%;
}
.position_relative {
    position: relative;
    height: 100%;
}
.banner {
    font-family: 'Sansita', sans-serif;
    font-size: 700;
}
.position_relative h1 {
    position: absolute;
    bottom: 0;
    font-family: 'Sansita', sans-serif;
    font-family: 'Cormorant', serif;
    font-family: 'Noto Serif Display', serif;
    font-weight: 700;
}
.content_service_detail {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
.choose_wings h3{
    font-family: 'Forum', serif;
    font-weight: 300;
}
.network h1 {
    font-family: 'Forum', serif;
}

.foooter {
    background-image: url('./assets/bg_footer.png');
    background-size: cover;
    width: 100%;
    height: 768px;
    font-family: 'Noto Serif Display';
    color: #A6A6A6;
}

.foooter form input, .foooter form textarea {
    background-color: #a6a6a69d;
    border: none;
    border-radius: 0;
}
.dropdown-menu:hover, #menu_service:hover + .dropdown-menu {
    display: block;
}

#dropdownMenu .dropdown-menu{
    position: absolute;
    transform: unset !important;
    left: 0 !important;
    top: 30px !important;
}
#submitContact {
    transition: .3s;
    cursor: pointer;
}
#submitContact img{
    width: 10rem;
}
#submitContact:hover {
    opacity: 0.8;
}
.skiptranslate {
    display: none;
}
.table_choose_us .th_why {
    font-family: 'Forum', serif;
    font-size: 70px;
    color: #225C80;
    background-color: #f5f5f5;
    width: 200px;
    height: 129px !important;
    text-align: center;
}
.table_choose_us .choose_us {
    font-family: 'Forum', serif;
    font-size: 70px;
}
.table_choose_us .left_icon_ps {
    margin: 20px 0;
    background-color: #e6e3e36b;
    bottom: 0;
    height: 85%;
    position: absolute;
}
.table_choose_us .left_icon_td {
    background-color: #f5f5f5;
    text-align: center;
    position: relative;
    height: 180px !important;
}
.table_choose_us p {
    margin: 0;
}
.table_choose_us h2 {
    font-family: 'Forum', serif;
    font-weight: 700;
}

.table_choose_us p {
    font-family: 'font_OpenSauceSans';
    font-weight: 600;
}
.table_choose_us .left_icon {
    width: 6rem;
    z-index: 12;
    position: relative;
}
.vertical_align_middle {
    vertical-align: middle;
}
.pl_px{
    padding-left: 40px;
}